<div id="banner">
    <div class="banner-slider">
        <div class="banner-item" data-bg-src="/img/header-slider-bg/slider-bg-1.jpg">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <section class="banner-item-content text-left">
                                    <h1><span>Shared</span> Hosting Services</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque explicabo blanditiis, commodi repellat cupiditate magni dolorem nulla porro.</p>
                                    <a href="#" class="btn btn-lg btn-custom-reverse">More Details</a>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <div class="banner-item-img"> <img src="/img/header-slider-img/slider-content-img-1.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/header-slider-img/slider-content-img-1.png" alt="" class="img-responsive"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item" data-bg-src="/img/header-slider-bg/slider-bg-2.jpg">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <section class="banner-item-content text-left">
                                    <h1><span>VPS</span> Hosting Services</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque explicabo blanditiis, commodi repellat cupiditate magni dolorem nulla porro.</p>
                                    <a href="#" class="btn btn-lg btn-custom-reverse">More Details</a>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <div class="banner-item-img"> <img src="/img/header-slider-img/slider-content-img-1.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/header-slider-img/slider-content-img-1.png" alt="" class="img-responsive"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-item" data-bg-src="/img/header-slider-bg/slider-bg-3.jpg" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/header-slider-bg/slider-bg-3.jpg">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <section class="banner-item-content text-left">
                                    <h1><span>Dedicated</span> Hosting Services</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque explicabo blanditiis, commodi repellat cupiditate magni dolorem nulla porro.</p>
                                    <a href="#" class="btn btn-lg btn-custom-reverse">More Details</a>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <div class="banner-item-img"> <img src="/img/header-slider-img/slider-content-img-2.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/header-slider-img/slider-content-img-2.png" alt="" class="img-responsive"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>