<div id="blog">
    <div class="container">
        <div class="section-title">
            <h2>latest blog</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-item-img"> <a href="#"> <img src="/img/blog-img/blog-img-260-380.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/blog-img/blog-img-260-380.png" alt="" class="img-responsive"> </a> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item-content">
                                <h2><a href="#">Lorem ipsum dolor</a></h2>
                                <div class="metadata"><i class="fa fa-calendar"></i> <a href="#">16/03/2016</a> | <i class="fa fa-user"></i> <a href="#">Themelooks</a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati repellendus aliquid consectetur cum temporibus molestias, vero laboriosam. Minima in explicabo dolores reiciendis nemo, autem aliquam aperiam deserunt ratione, eaque officia.</p>
                                <p>Sequi cupiditate officia, dolorum accusantium autem eligendi veritatis voluptate id voluptatum earum, quo assumenda ab tempora commodi ipsam totam repellendus necessitatibus. Nemo nam ratione recusandae.</p>
                                <a href="#" class="btn btn-custom-reverse">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-item-img"> <a href="#"> <img src="/img/blog-img/img-1.jpg" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/blog-img/img-1.jpg" alt="" class="img-responsive"> </a> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item-content">
                                <h2><a href="#">Lorem ipsum dolor</a></h2>
                                <div class="metadata"><i class="fa fa-calendar"></i> <a href="#">16/03/2016</a> | <i class="fa fa-user"></i> <a href="#">Themelooks</a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa minus obcaecati reiciendis, recusandae!</p>
                                <a href="#" class="btn btn-custom-reverse">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-item-img"> <a href="#"> <img src="/img/blog-img/img-2.jpg" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/blog-img/img-2.jpg" alt="" class="img-responsive"> </a> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-item-content">
                                <h2><a href="#">Lorem ipsum dolor</a></h2>
                                <div class="metadata"><i class="fa fa-calendar"></i> <a href="#">16/03/2016</a> | <i class="fa fa-user"></i> <a href="#">Themelooks</a></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ipsa minus obcaecati reiciendis, recusandae!</p>
                                <a href="#" class="btn btn-custom-reverse">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>