<div id="brands" data-bg-src="/img/background-img/brands-bg.jpg" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/background-img/brands-bg.jpg">
    <div class="container">
        <div class="row brands-slider reset-margin">
            <div class="col-md-12"> <img src="/img/brands-img/01.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/brands-img/01.png" alt="" class="img-responsive"> </div>
            <div class="col-md-12"> <img src="/img/brands-img/02.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/brands-img/02.png" alt="" class="img-responsive"> </div>
            <div class="col-md-12"> <img src="/img/brands-img/03.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/brands-img/03.png" alt="" class="img-responsive"> </div>
            <div class="col-md-12"> <img src="/img/brands-img/04.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/brands-img/04.png" alt="" class="img-responsive"> </div>
            <div class="col-md-12"> <img src="/img/brands-img/05.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/brands-img/05.png" alt="" class="img-responsive"> </div>
            <div class="col-md-12"> <img src="/img/brands-img/06.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/brands-img/06.png" alt="" class="img-responsive"> </div>
        </div>
    </div>
</div>