<div id="vpsPricing" data-bg-src="/img/background-img/vpsPricing-bg.jpg" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/background-img/vpsPricing-bg.jpg">
    <div class="container">
        <div class="section-title">
            <h2>choose your vps</h2>
        </div>
        <div class="vps-slider-holder">
            <div class="vps-ruler"></div>
            <div id="vpsSlider"></div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-6 vps-item-feature"> <span class="vps-item-feature-name">CPU</span> <span class="vps-item-feature-value vps-item-cpu">2 CORES</span> </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature"> <span class="vps-item-feature-name">RAM</span> <span class="vps-item-feature-value vps-item-ram">2 GB</span> </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature"> <span class="vps-item-feature-name">DISK SPACE</span> <span class="vps-item-feature-value vps-item-space">200 GB</span> </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature"> <span class="vps-item-feature-name">BANDWIDTH</span> <span class="vps-item-feature-value vps-item-bandwidth">2000 GB</span> </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature"> <span class="vps-item-feature-name">SETUP</span> <span class="vps-item-feature-value vps-item-setup">FREE</span> </div>
            <div class="col-sm-2 col-xs-6 vps-item-feature"> <span class="vps-item-feature-name">IP</span> <span class="vps-item-feature-value vps-item-ip">UP TO 3</span> </div>
        </div>
        <div class="vps-total-price"><span>$69.99</span>/m</div>
        <div class="action"> <a href="#" class="order-link btn btn-lg btn-custom-reverse">Buy Now</a> <a href="#" class="deatils-link btn btn-lg btn-custom">View Details</a> </div>
    </div>
</div>