<div id="copyright">
    <div class="container">
        <p class="left">Copyright 2016 &copy; <a href="#">lilyHost</a>. All Rights Reserved.</p>
        <p class="right">We Accept: <img src="/img/payment-methods.png" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/img/payment-methods.png" alt=""></p>
    </div>
</div>
