<div id="menu">
    <nav id="primaryMenu" class="navbar">
        <div class="container">
            <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primaryNavbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> </div>
            <div id="primaryNavbar" class="navbar-collapse collapse reset-padding">
                <ul class="primary-menu-links nav navbar-nav">
                    <li><a href="datacenter.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/datacenter.html">Datacenter</a></li>
                    <li><a href="blog.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/blog.html">Latest News</a></li>
                    <li><a href="faq.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/faq.html">FAQ</a></li>
                    <li><a href="affiliate.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/affiliate.html">Affiliates</a></li>
                    <li><a href="login.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/login.html">Submit a Ticket</a></li>
                    <li><a href="login.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/login.html">Client Area</a></li>
                </ul>
                <ul class="primary-social-menu-links nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="secondaryMenu" class="navbar">
        <div class="container">
            <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondaryNavbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="index.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/index.html"><span><i class="fa fa-server"></i> lily</span>Host</a> </div>
            <div id="secondaryNavbar" class="navbar-collapse collapse navbar-right reset-padding">
                <ul class="secondary-menu-links nav navbar-nav">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home fa-fw"></i>Home <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="index.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/index.html">Version 1</a></li>
                            <li><a href="javascript:if(confirm('http://themelooks.com/demo/lilyhost/bootstrap/version-two/index.html  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?'))window.location='http://themelooks.com/demo/lilyhost/bootstrap/version-two/index.html'" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-two/index.html">Version 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-server fa-fw"></i>Hosting <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="shared-hosting.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/shared-hosting.html">Shared</a></li>
                            <li><a href="vps-hosting.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/vps-hosting.html">VPS</a></li>
                            <li><a href="dedicated-hosting.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/dedicated-hosting.html">Dedicated</a></li>
                        </ul>
                    </li>
                    <li><a href="domains.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/domains.html"><i class="fa fa-at fa-fw"></i>Domains</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-copy fa-fw"></i>Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/about.html">About</a></li>
                            <li><a href="faq.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/faq.html">FAQ</a></li>
                            <li><a href="datacenter.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/datacenter.html">Datacenter</a></li>
                            <li><a href="testimonial.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/testimonial.html">Testimonial</a></li>
                            <li><a href="login.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/login.html">Login</a></li>
                            <li><a href="signup.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/signup.html">Signup</a></li>
                            <li><a href="affiliate.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/affiliate.html">Affiliate</a></li>
                            <li><a href="404.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/404.html">404</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o fa-fw"></i>Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/blog.html">Blog</a></li>
                            <li><a href="blog_sidebar-left.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/blog_sidebar-left.html">Blog Sidebar Left</a></li>
                            <li><a href="blog_sidebar-right.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/blog_sidebar-right.html">Blog Sidebar Right</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/contact.html"><i class="fa fa-envelope-o fa-fw"></i>Contact</a></li>
                </ul>
                <div class="registration-links"> <a href="login.html" tppabs="http://themelooks.com/demo/lilyhost/bootstrap/version-one/login.html" class="login btn btn-custom-reverse" role="button"><i class="fa fa-fw fa-user"></i> Login</a> </div>
            </div>
        </div>
    </nav>
</div>
